*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins',
  sans-serif;
}

.app {
  text-align: left;
  display: flex;
  justify-content: center;
  background-color: #F0E5CF;
}
section{
  width: 50%;
  background-color: #F7F6F2;
  padding: 1rem;
  min-height: 100vh;
}

.app-header {
  display: flex;
  flex-direction: column;
  color: #4B6587;
  padding-top: 1em;
}

